
$padding: 4rem
$doublePadding: 8rem
$contentSidePadding: 7rem
@mixin pointable()
  cursor: pointer
$padding-content-side: 7rem



body
  @media (max-width: 480px)
    overflow-x: hidden
  min-width: 420px
  @media (min-width: 1200px)
    font-size: 18pt
  @media (max-width: 1200px) and (min-width: 800px)
    font-size: 16pt
  @media (max-width: 800px)
    font-size: 14pt
  font-family: "Open Sans"
.row
  display: flex
  align-items: center
  flex-direction: row
  justify-content: center

.align-left
  justify-content: flex-start
.col
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center

.header
  display: flex
  flex-direction: column
  @media (min-width: 1100px)
    padding: 1rem 7rem 4rem 7rem
  @media (max-width: 1100px)
    padding: 1rem 1rem 4rem 1rem

  margin: -1rem
  >div
    width: 100%



h3
  margin-left: 10%



.header
  background-image: url("image/bg-top.png")
  background-size: cover
  background-position: bottom


.content-buynow, .features
  background-color: #eeeeee
  margin: 2rem 0


.bordered
  border: 0 solid black
  border-left-width: 4px
  border-right-width: 4px


.displayNone
  display: none


